body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.container {
    display: flex;
    width: 700px;
    height: 700px;
    flex-direction: column;
    border: 1px solid;
}

.row {
    display: flex;
    flex: 1;
}

.div-grid {
    flex: 1;
}

/* CONTROLS */
.controls {
    display: flex;
    gap: 8px;
    width: 700px;
}

button {
    flex: 1;
    padding: 16px 32px;
    background-color: white;
    border: 1px solid black;
}

button:hover {
    background-color: black;
    color: white;
}
/* Draw in black */
.black {
    background-color: black;
}

/* Toggle button*/
.toggled {
    background-color: rgb(3, 88, 0);
    color: white;
}

/* erase */
.white {
    background-color: white;
}

/* Rainbow Pen */
.rainbow {
    background-color: blue;
}