body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 700px;
    height: 700px;
    flex-direction: column;
    border: 1px solid;
}

.row {
    display: flex;
    flex: 1;
}

.div-grid {
    flex: 1;
}

/* HOVER COLOR BLACK */
.black {
    background-color: black;
}