body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #222831;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    width: 660px;
    height: 660px;
    flex-direction: column;
    border: 40px solid #393E46;
    background-color: white;
}

.row {
    display: flex;
    flex: 1;
}

.div-grid {
    flex: 1;
}

/* CONTROLS */
.controls {
    padding: 24px;
    height: 692px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 300px;
    background-color: #393E46;
}

button {
    padding: 16px 32px;
    background-color: white;
    border: 1px solid black;
}

button:hover {
    background-color: black;
    color: white;
}

/* PEN COLOR */
.pen-color {
    height: 49px;
    display: flex;
    align-items: center;
    gap: 18px;
    color: white;
    font-weight: 500;
}

#favcolor {
    width: 80px;
    margin: 0;
    padding: 0;
    border: 0;
    border-width: 0;
    height: 49px;
}
